.hero {
  background-image: url("../../components/assets/hero.jpeg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  height: 60vh;
  padding: 0;
  margin: 0;
}

.banner {
  background-image: url("../../components/assets/banner.jpeg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  height: 60vh;
  padding: 0;
  margin: 0;
}
.hero-match {
  background-image: url("../../components/assets/hero-match.jpeg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  height: 60vh;
  padding-top: 0;
  margin: 0;
}
