// Fonts
$body-font: "Josefin Sans";
$nav-font: "Amatic SC";

// Breakpoints
$desktop-breakpoint-min: 1280px;
$tablet-breakpoint-min: 767px;
$mobile-breakpoint-min: 0px;

// Padding

$container-padding-top: 5rem;
